*{
  margin: 0;
  padding: 0;
}

body {
  font-family: veranda;
  padding: 2px;
  font-size: 15px;

h1{
  font-size: 1rem;
}

img{
  width: -webkit-fill-available;
}

.katalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

  
.background-color:gray;
}


.card-room{
  background:darkgray;
  color:lightgrey;
}
 